.idea
.config/zsh/ohmyzsh/
.config/zsh/.zshrc.pre-oh-my-zsh
.config/zsh/.zcompdump*
.config/tmux/plugins
.config/gh/hosts.yml
.config/go
.config/fzf
.config/nom/nom.db
.config/cni/
.local/bin/*
.config/docker/
.config/fish/
.config/glab-cli/
.config/helm/
.config/htop/
.config/mimeapps.list
.config/op/
.config/uv/
.config/wslu/
!.config/tmux/plugins/tpm
**/.zsh_history
**/.zsh_sessions/*
**/.iterm2/*
.DS_Store
.claude/*
!.claude/README.md
mise.local.toml
